<h1>Reactive form validation</h1>

<form [formGroup]="submitform" (ngsubmit)="submituser()">
  <input type="text" placeholder="entername" formControlName="user">
  <br>
  <span style="color:red;" *ngIf="user && user.invalid && user.touched">This field is not valid</span><br>

  <input type="email" placeholder="email" formControlName="email">
  <br>
  <span style="color:red;" *ngIf="email && email.invalid && email.touched" >This field is not valid</span><br>
  <br>

  <input type="Address" placeholder="Address" formControlName="Address">
  <br>
  <span style="color:red;" *ngIf="Address && Address.invalid && Address.touched" >This field is not valid</span><br>
  <br>
  

  <input type="city" placeholder="city" formControlName="city">
  <br>
  <span style="color:red;" *ngIf="city && city.invalid && city.touched" >This field is not valid</span><br>
  <br>

  <input type="phonenumber" placeholder="phonenumber" formControlName="phonenumber">
  <br>
  <span style="color:red;" *ngIf="phonenumber && phonenumber.invalid && phonenumber.touched" >This field is not valid</span><br>
  <br>

  <input type="password" placeholder="password" formControlName="password">
  <br>
  <span style="color:red;" *ngIf="password && password.invalid && password.touched">This field is not valid</span><br>
  <br>
  

  <input type="confirmpassword" placeholder="confirmpassword" formControlName="confirmpassword">
  <br>
  <span style="color:red;" *ngIf="confirmpassword && confirmpassword.invalid && confirmpassword.touched">This field is not valid</span><br>
  <br>

  <input type="checkbox" placeholder="terms" formControlName="terms"> 
  <label> Agree with terms and conditions</label>
  <br>

  <button>submit</button>
</form>

<router-outlet></router-outlet>
